
@import "~bootstrap/scss/bootstrap";
.bc {
  border-color: #eb9d18;
}

.bb {
  border-bottom: 2px solid gray;
}

.bbh {
  border-bottom: 4px solid dodgerblue;
}

a{
  color: black;
}

a:active {
  color: #FF0000;

}

a:hover {
  color:royalblue;
  text-decoration: underline
}

a:visited {
  color: #b0b0b0;
  text-decoration:none
}


.green {
  color: greenyellow;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  font-weight: normal;
}

@-webkit-keyframes blink {
  0% { color: #F00; }
  50% { color: #FBB; }
  100% { color: #F00; }
}

@keyframes blink {
  0% { color: #F00; }
  50% { color: #FBB; }
  100% { color: #F00; }
}

.button-lng {
  height: 40px;
  width: 100px;
  color: whitesmoke;
}

button {
  height: 40px;
  width: 180px;
}

//  button {
//  position: relative;
//  padding: 30px;
//  box-sizing: border-box;
//  height: 40px;
//  width: 206px;
//  margin: 10 5px;
//  font-size: 19px;
//  font-weight: 500;
//  letter-spacing: 1px;
//  border-radius: 3px;
//  border: 1px solid transparent;
//  outline: none;
//  cursor: pointer;
//  background: #171616;
//  overflow: hidden;
//  transition: 0.6s;
//}
//button:first-child {
//  color: #f1eded;
//  border-color: #81889c;
//}
//button:last-child{
//  color: #ffffff;
//  border-color: #f5a40c;
//}
//button:before, button:after{
//  position: absolute;
//  content: '';
//  left: 0;
//  top: 0;
//  height: 100%;
//  filter: blur(30px);
//  opacity: 0.4;
//  transition: 0.9s;
//}
//button:before{
//  width: 60px;
//  background: rgba(255,255,255,0.6);
//  transform: translateX(-130px) skewX(-45deg);
//}
//button:after{
//  width: 30px;
//  background: rgba(255,255,255,0.6);
//  transform: translateX(-130px) skewX(-45deg);
//}
//button:hover:before,
//button:hover:after{
//  opacity: 0.6;
//  transform: translateX(320px) skewX(-45deg);
//}
//button:hover{
//  color: #f9f2f2;
//}
//button:hover:first-child{
//  background: #535157;
//}
//button:hover:last-child{
//  background: #ff8000;
//}



