
@import "~bootstrap/scss/bootstrap";
.bc {
  border-color: #eb9d18;
}

.bb {
  border-bottom: 2px solid gray;
}

.bbh {
  border-bottom: 4px solid dodgerblue;
}

a{
  color: black;
}

a:active {
  color: #FF0000;

}

a:hover {
  color:royalblue;
  text-decoration: underline
}

a:visited {
  color: #a4adba;
  text-decoration:none;
}

.visited-links {
  color: #a4adba;
}

.pbt {
  min-width: 120px;
  max-width: 120px;
}



.green {
  color: greenyellow;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  font-weight: normal;
}

@-webkit-keyframes blink {
  0% { color: #F00; }
  50% { color: #FBB; }
  100% { color: #F00; }
}

@keyframes blink {
  0% { color: #F00; }
  50% { color: #FBB; }
  100% { color: #F00; }
}

.button-lng {
  height: 40px;
  width: 100px;
  color: whitesmoke;
}

button {
  height: 40px;
  width: 180px;
}


